<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>河北师范大学教务处</title>
<link href="css/index.css" rel="stylesheet" type="text/css" />
<script src="js/nav.js"></script>
</head>

<body>
<div class="mybody nb">
    	<div class="top">
          <div class="topright">
        	<div class="quick"><a href="#">设为首页</a>&nbsp;|&nbsp;<a href="#">管理入口</a></div>
           <div id="nav">
           	<li class="bc"><a href="">首页</a>
           </li>
            	<li><a href="">岗位设置</a>
            <ul>
 				<li><a href="#">专业建设</a></li>
 				<li><a href="#">培养方案</a></li>
 				<li><a href="#">课程建设</a></li>
 				<li><a href="#">实践教学</a></li>
				
 			</ul></li>
            	<li><a href="">教学建设</a>
            <ul>
 				<li><a href="#">专业建设</a></li>
 				<li><a href="#">培养方案</a></li>
 				<li><a href="#">课程建设</a></li>
 				<li><a href="#">实践教学</a></li>
                <li><a href="#">质量工程</a></li>
                <li><a href="#">教研活动</a></li>
 			</ul></li>
            	<li><a href="">教学运行</a>
            <ul>
 				<li><a href="#">排课选课</a></li>
 				<li><a href="#">考试管理</a></li>
 				<li><a href="#">成绩管理</a></li>
 				<li><a href="#">学历学位</a></li>
				<li><a href="#">学籍异动</a></li>
				<li><a href="#">推荐免试研究生</a></li>
 			</ul></li>
            <li><a href="">教学保障</a>
            <ul>
 				<li><a href="#">教务管理系统</a></li>
 				<li><a href="#">教室管理</a></li>
 				<li><a href="#">多媒体管理</a></li>
 				<li><a href="#">教材管理</a></li>
				
 			</ul></li>
            <li><a href="">规章制度</a>
            <ul>
 				<li><a href="#">省部级</a></li>
 				<li><a href="#">校级</a></li>
 				
 			</ul></li>
            </div>
          </div>          
      </div>
      <div class="banner"><img src="images/banner.gif" width="1000" height="200" /></div>
       <div class="bread"><a href="#">首页</a> - <a href="#">教学动态</a> - </div>
      <div class="conleft">
      <h1>{$title}</h1>
        <h2>作者：教育处&nbsp;&nbsp;&nbsp;&nbsp;    图片来源：本站原创&nbsp;&nbsp;&nbsp;&nbsp;     点击数： 878&nbsp;&nbsp;&nbsp;&nbsp;     更新时间：2013-4-15</h2>
            <ul>
            	<p>根据省教育厅的相关文件要求，从2012年秋季及其以后入学的各师范类专业学生，均需参加统一的中小学教师资格考试。资格考试一般每年举办两次，分别在3月份、11月份。2014 年下半年河北省中小学教师资格考试笔试将于11月2日进行。为帮助我校广大考生提高复习效率，保证通过率，我校决定举办中小学教师资格考试笔试考前辅导培训班，现将相关事宜通知如下：<br />
            	  　　<strong>一、领导小组</strong><br />
            	  　　中小学教师资格考试改革是我省教师教育的一项重大改革措施。考虑到我校首次大规模参加该项考试，为确保我校广大考生顺利参加考试，学校成立辅导培训工作领导小组：<br />
            	  　　组长：阎福玲 赵夫辰<br />
            	  　　副组长：薛彦华 张惠珍 刘毅伟<br />
            	  　　组员：教学处、教师教育中心、教育学院及学院学科教学论相关教师<br />
            	  　　<strong>二、培训内容</strong><br />
            	  　　中小学教师资格考试内容分为：综合素质（中学）、教育知识与能力、学科知识与教学能力三部分内容。<br />
            	  　　“综合素质（中学）”分为职业理念、教育法律法规、教师职业道德规范、文化素养、基本能力五部分内容，主要考查教师资格人员的基本知识、能力和素养，学校不统一安排辅导培训，学生自己备考。<br />
            	  　　“教育知识与能力”主要包含教育学与心理学。学校将为所有考生按照教育学与心理学两部分考试内容分别安排辅导培训。<br />
            	  　　中学“学科知识与教学能力”科目分为语文、数学、物理、化学、生物、历史、地理、思想品德（政治）、英语、音乐、美术、体育与健康、信息技术13个学科。该科目培训工作由相关学院自主安排辅导教师、辅导时间与地点。<br />
            	  　　<strong>三、培训具体安排</strong><br />
            	  　　1、教务处、教师教育中心与教育学院共同负责“教育知识与能力”内容的培训工作，按照我校报名人数，统一分班，一般利用晚上或周末时间进行培训。具体时间与地点安排见附件1。<br />
            	  　　2、相关学院负责 “学科知识与教学能力”科目的培训工作，各学院需按照教学处的要求自行安排本学院的培训时间与地点，最晚于9月26日前将本学院的工作安排上报教务处。<br />
           	    　　3、本次辅导培训对象为我校所有报考学生，不接受其它单位考生，同时任何单位不得收取学生培训费用。</p>
            	<p>
      
    </ul>
           <div class="next"><span class="font_next">上一篇：</span><a href="#">关于转专业同学修补课程相关</a><span class="font_next">下一篇：</span><a href="#">关于开展"河北师范大学第四届师范生比赛"</a></div>
      </div>

 
  <div class="conright">
      	<div class="conxsfw" >
        	<h1><img src="images/listtzgg.gif" width="218" height="40" /></h1>
       	  <ul >
           	<li><a href="#" >关于2014-2015学年第开始一学雅通识课程开课</a></li> 
<li><a href="#" >关于开展“河北师学第四届拉沙德师范生教学技能了卡萨丁  </a></li>     
<li><a href="#" >关于举办中小学教格考试地方是笔试考前辅导培训欧委会</a></li>
<li><a href="#" >关于转专业同学补修课程的说明</a></li>
<li><a href="#" >关于2013级转专业学生教材费结算的通知</a></li>
<li><a href="#" >关于2013—2014学年第二学期期末考试课程的补（缓）拉法基</a></li>  </ul>
        </div>
  <img src="images/var.gif" width="220" height="173" usemap="#Map" border="0" />
  <map name="Map" id="Map">
    <area shape="rect" coords="11,39,61,101" href="#" />
    <area shape="rect" coords="83,40,129,99" href="#" />
    <area shape="rect" coords="151,40,209,99" href="#" />
    <area shape="rect" coords="14,108,71,166" href="#" />
    <area shape="rect" coords="80,109,139,165" href="#" />
    <area shape="rect" coords="152,108,210,165" href="#" />
  </map>
  </div>
  
    </div>
    <div class="bottom">
    	<div class="copy">
    	  <p>copyright @ 2008-2013 http://jwc.hebtu.edu.cn All Rights Reserved         网站备案：冀ICP备0600665       
   	      </p>
    	  <p>河北师范大学教务处         地址：河北省石家庄市南二环东路20号        邮编：050024       电话（传真）：80789710 </p>
      </div>
    </div>
</body>
</html>
