<!DOCTYPE html>
<html  ng-app="md1">
<head>
    <meta charset="UTF-8">
    <title>数据绑定</title>
    <script src="angular.js"></script>
    <script>
        var app=angular.module('md1',['ng']);
        app.controller('mc1',function($scope){
            console.log("ng-controller : ngCtl");
            $scope.name = "tom";
            $scope.btnClicked = function() {
                console.log("Label is " + $scope.myLabel);
            }
        })
    </script>
</head>
<body ng-controller="mc1">
单价：<input ng-model="price">
数量：<input ng-model="num">
总价：{{price*num}}
<!--{{name}}-->
</body>
</html>