<!DOCTYPE html>
<html  ng-app="Md1">
<head>
    <meta charset="UTF-8">
    <title> ng-repeat </title>
    <script src="angular.js"></script>
    <style>
        th,td{
            width:200px;height: 50px;border:1px solid #333;
        }
    </style>
    <script>
        var app=angular.module('Md1',['ng']);
        app.controller('mc1',function($scope){
            $scope.people2=[
                {'name':'TOM','age':17,'hobby':'singing'},
                {'name':'JIM','age':18,'hobby':'swimming'},
                {'name':'MARRY','age':15,'hobby':'dancing'}
            ]
        })
    </script>
</head>
<body >
<div ng-controller="mc1">
    <ul ng-init="people1={'name':'tom','age':17,'hobby':'swimming'}">
        <li ng-repeat="(x,y) in people1">{{x}}：{{y}}</li>
    </ul>
    <hr>
    <p ng-repeat="(m,n) in people2">{{m}}-->{{n}}</p>
    <table>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>爱好</th>
        </tr>
        <tr ng-repeat="p in people2">
            <td ng-repeat="i in p">{{i}}</td>
        </tr>
    </table>
</div>

</body>
</html>