<div class="panel-body">
    <div class="form-group">
        <label>名称:</label>
        <input class="form-control" ng-model="currentProduct.name" />
    </div>
    <div class="form-group">
        <label>类型:</label>
        <input class="form-control" ng-model="currentProduct.category" />
    </div>
    <div class="form-group">
        <label>价格:</label>
        <input class="form-control" ng-model="currentProduct.price" />
    </div>
    <button class="btn btn-primary" ng-click="saveEdit(currentProduct)">保存</button>
    <button class="btn btn-primary" ng-click="cancelEdit()">取消</button>
</div>
