<!DOCTYPE html>
<html ng-app="Demo">
<head>
    <meta charset="utf-8" />
    <title>使用jQuery自定义动画</title>
    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="angular-animate.js"></script>
    <script type="text/javascript">
    var app = angular.module('Demo', ["ngAnimate"]);
        app.animation('.fade', function(){
            return {
                enter: function (element, done) {
                    element.css('display', 'none');
                    $(element).fadeIn(1000, function () {
                        done();
                    });
                },
                leave: function (element, done) {
                    $(element).fadeOut(1000, function () {
                        done();
                    });
                },
                move: function (element, done) {
                    element.css('display', 'none');
                    $(element).slideDown(500, function () {
                        done();
                    });
                }
            }
        });
        app.controller('testCtrl',function ($scope) {
            $scope.items = [
                { value: "第一条" },
                { value: "第二条" },
                { value: "第三条" },
                { value: "第四条" },
                { value: "第五条" }
            ];
            $scope.addItem = function () {
                $scope.items.push(this.item);
                $scope.item = {};
            };
            $scope.removeItem = function (index) {
                $scope.items.splice(index, 1);
            };
            $scope.toTop = function () {
                $scope.items.unshift(this.items.pop());
            };
        })
    </script>
</head>
<body ng-controller="testCtrl">
<div>
    <h1>城市列表</h1>
    <ol>
        <li ng-repeat="item in items" class="fade">
            {{item.value}}
            <a href="javascript:void(0);" ng-click="removeItem($index)">remove</a>
        </li>
    </ol>
    <br />
    <input type="text" ng-model="item.value" />
    <button ng-click="addItem()">添加列表项</button>
    <br /><br />
    <button ng-click="toTop()">我要上头条！！！</button>
</div>
</body>
</html>